header {
  display: flex;
  justify-content: space-between;
  background-color: #313233;
  position: fixed;
  width: 100%;
  font-family: 'Nunito', sans-serif;
}

.headline {
  padding-left: 4rem;
  color: white;
  font-size: 1.8rem;
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul:focus {
  outline: none;
}

nav ul li:focus {
  outline: none;
}

nav ul li {
  margin-right: 2rem;
  opacity: .6;
  transition: all ease .5s;
  font-weight: 700;
}

nav ul li:hover {
  opacity: 1;
}