.quotes {
  margin: 5rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.quotes h3 {
  font-family: 'Merriweather', serif;
  font-style: italic;
  max-width: 50rem;
  color: #585a5c;
}

.author {
  display: flex;
  justify-content: flex-end;
  font-size: .8rem;
  color: #717478;
}

@media (max-width: 800px) {
  .quotes {
    margin: 2rem 1rem;
  }
}