@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400&display=swap" rel="stylesheet"');
@import url('https://fonts.googleapis.com/css?family=Nunito:300&display=swap" rel="stylesheet"');

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
}

nav ul a {
  color: white;
}